<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Shipping</title>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata&amp;display=swap" />
	<link rel="stylesheet" href="styles/main.css" />
	<script type='text/javascript'
	          src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap'>
	</script>
</head>

<body>
	<div class="container">
	    <header class="top-header py-3">
	    	<h3 class='logo-text text-center'>
	      		<a href=".">ROBOT DELIVERY</a>
	      	</h3>
	    </header>
		<div class="py-1 mb-2">
			<nav class="nav nav-pills d-flex">
				<a class="p-3 text-muted mr1" href=".">Home</a>
				<a class="p-3 text-muted mr1" href="#">About</a>
				<a class="p-3 text-muted mr1" href="#">Contact</a>
				<a class="p-3 text-muted ml-auto" id="register-login" th:href="@{login}">Register/Login</a>
				<a class="p-3 text-muted ml-auto" id="welcome-msg"></a>
				<a class="p-3 text-muted ml1" id="logout-link" href="logout">Logout</a>
			</nav>
		</div>
	</div>

	<div class="container">
		<form id="shipPageMethod" class="border border-primary rounded shippingFrm"
			novalidate="novalidate">
		  <h3 class="text-center text-primary font-weight-bold mb-4">Choose a Delivery Method</h3>
		  <div class="custom-control custom-radio custom-control-inline">
		      <input type="radio" id="radioBot" name="optionRadio" class="custom-control-input" checked="checked" onclick="est1()"/>
		      <label class="custom-control-label" for="radioBot" style="color:#62a8fa">Bot</label>
		  </div>
		  <div class="custom-control custom-radio custom-control-inline">
		    <input type="radio" id="radioDrone" name="optionRadio" class="custom-control-input" onclick="est2()"/>
		    <label class="custom-control-label" for="radioDrone" style="color:#ff9e7b">Drone</label>
		  </div>
		  <br/><br/>
		  <p class="text-center text-primary font-weight-bold mb-4">Estimate price: $<span id="estPrice"></span></p>
          <div id="myMap" style="position:center; height:400px; border: none;" class="ml-1 mr-2">     
          </div>
		  <a id="pageToReceiver" class="btn btn-primary" th:href="@{shipPackage}">&#8249; Previous</a>
		  <button class="btn btn-primary" type="submit">Submit</button>
		  
		</form>
		<div id="paypal-button-container" align="center"></div>
	</div>
	  <script src="https://www.paypal.com/sdk/js?client-id=sb"></script>

  	<footer class="pt-4 pb-1 text-center">
	    <p><strong>"We deliver your packages right."</strong></p>
    	<p>Built by <a href="https://github.com/H000C/RobotDelivery/network/members" target="_blank">LAI-Team-2</a></p>
    	<br />
    	<p>Copyright © LAI-Team-2 2019</p>
	</footer>
	
	<script th:src="@{/js/shipMJs.js}"></script>
	<script th:src="@{/js/auth.js}"></script>
</body>
</html>