<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<script src="https://www.bing.com/api/maps/mapcontrol?callback=GetMap"></script>
     <script th:inline="javascript">
     /*<![CDATA[*/
     var trackingStartAddresss = 'Space Needle';
     var trackingEndAddress = 'Pike Market, Washington';
     var trackingCurLocation = { lat: 47.617593, lon: -122.351712 };

    function GetMap()
    {
        
        var map = new Microsoft.Maps.Map('#myMap', {
            credentials: 'Your Key'
        });
        Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function addWaypoint() {
	    var directionsManager1 = new Microsoft.Maps.Directions.DirectionsManager(map);
	    directionsManager1.setRequestOptions({ routeMode: Microsoft.Maps.Directions.RouteMode.walking });
    	    if (directionsManager1.getAllWaypoints().length < 2) {
        	var firstWaypoint = new Microsoft.Maps.Directions.Waypoint({ address: trackingStartAddresss });
        	directionsManager1.addWaypoint(firstWaypoint);
        	var middleWaypoint = new Microsoft.Maps.Directions.Waypoint({ location: new Microsoft.Maps.Location(trackingCurLocation.lat, trackingCurLocation.lon) });
        	directionsManager1.addWaypoint(middleWaypoint);
	    }
    	    var directionsManager2 = new Microsoft.Maps.Directions.DirectionsManager(map);
    	    directionsManager2.setRequestOptions({ routeMode: Microsoft.Maps.Directions.RouteMode.walking });
    	    if (directionsManager2.getAllWaypoints().length < 2) {
		var middleWaypoint = new Microsoft.Maps.Directions.Waypoint({ location: new Microsoft.Maps.Location(trackingCurLocation.lat, trackingCurLocation.lon) });
        	directionsManager2.addWaypoint(middleWaypoint);
        	var lastWayPoint = new Microsoft.Maps.Directions.Waypoint({ address: trackingEndAddress });
        	directionsManager2.addWaypoint(lastWayPoint);
    	    }
    
    	    directionsManager1.setRenderOptions({
		firstWaypointPushpinOptions: {
		    draggable: false,
		    visible: false
		},                 
	    	walkingPolylineOptions: {
                    strokeColor: 'green',
                    strokeThickness: 6
                }});
    	    directionsManager2.setRenderOptions({ 
		firstWaypointPushpinOptions: {
		    draggable: false,
		    text: 'Robot'
		},                 
	    	walkingPolylineOptions: {
                    strokeColor: 'yellow',
                    strokeThickness: 6
                },
		lastWaypointPushpinOptions: {
		    draggable: false,
		    visible: false
		}});
    	    directionsManager1.calculateDirections();
    	    directionsManager2.calculateDirections();
	});
    }
    /*]]>*/
    </script>
<title>Track Order</title> 
</head>
<body>
    <div id="myMap" style="position:relative;width:800px;height:600px;"></div>
</body>
</html>