* {
    font-family: 'Inconsolata', monospace;
    scroll-behavior:  smooth ;
}
  
.top-header {
    border-bottom: 1px solid #e5e5e5;
}

.logo-text a {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-weight: 600;
	color: black; 
  	text-decoration: none;
}

#invalid-sender-address, #invalid-receiver-address, #invalid-package-dimension {
	display:none;
}

.trackingFrm, .shippingFrm {
    padding: 2rem;
    margin: 2rem 0;
}

#shipPageMethod button {
	background-color: darkblue;
	border-color: darkblue;
}

footer {
    border-top: 1px solid #f0eeee;
    font: bold 14px;
    line-height: 1;
    width: 100%;
    background: #efefef;
    /* position: fixed; */
    bottom: 0;
}
